html,
body {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), 
                      url("../assets/images/background.png");
    background-size: cover;
}
